*{
    background-color: rgb(197, 65, 65);
    color: rgb(44, 43, 43);
    text-align: center;
}

*imgperfil{
    border-radius: 50%;
    border solid: 5px
    border-color: rgb(17, 82, 82);
}

.titulo{
    font-size: 200%;
    font-style: italic;
}

h2{
    font-size: 300%;
}

#biografia{
    width: 70vw;
    text-align: center;
    margin-left: 15%;
}


